In [39]:
#geopy python pacjakge has the coordinates for the addresses supplied to it
#geocoders module requires an active internet connection
#Nominatim is a type in geocoders module and geocode method in it provides the coordinates of the given address
#It accepts Road Name, City Name, State ZIP, Country  
#And returns complete address with co-ordinates 


import geopy
from geopy.geocoders import Nominatim

nom = Nominatim(scheme = "http")
cor=nom.geocode("China Town, Kolkata")
lat = cor.latitude
lon = cor.longitude
print("Kolkata Co-ordinate details :",cor,"\nLatitude of Kolkata :",lat,"\nLongitude of Kolkata :",lon)

Kolkata Co-ordinate details : China One, Ring Road, EP Block, Kolkata, Twenty-four Parganas, West Bengal, 700102, India
Latitude of Kolkata : 22.5711968
Longitude of Kolkata : 88.4342873

In [89]:
tgp=type(geopy)
tgr=type(geopy.geocoders)
tn=type(Nominatim)
tg =type(Nominatim.geocode)

print("Type of all GeoPy Objects:  " + "\ngeopy %s: " %tgp, "\ngeocoders %s: " %tgr, "\nNominatim %s: " %tn , "\ngeocode %s: " %tg, "\nlatitude %s" %type(cor.latitude))

Type of all GeoPy Objects:
geopy <class 'module'>:
geocoders <class 'module'>:
Nominatim <class 'type'>:
geocode <class 'function'>:
latitude <class 'float'>

In [44]:
#Using Geopy in Pandas

import pandas

df1= pandas.read_csv("supermarkets.csv")
df1

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [48]:
#geocodes function takes in parameter in the form of "Road Name, City Name, State ZIP, Country"
#Making Address column in that format

df1["Address"] = df1["Address"] +", "+df1["City"]+", "+df1["State"]+", "+df1["Country"]
df1

,ID,Address,City,State,Country,Name,Employees
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20

In [ ]:
#Now we need to supply each of these Address values into geocode function in Nominatim
#But Pandas don't need iteration through for
#Automatic iteration or loading of rows of a column or series happens with "apply" function dfName[ColumnName].apply(functionName)
#We just need to pass in the function as parameter in the apply to have the series / row iterate through
#Lets add a new column Location in the df1 data frame showing location details of each Address using geocode function of geopy

In [75]:
df1["Cordinates"]=df1["Address"].apply(nom.geocode)#no need to use () after geocode function, "apply" automatically takes it
df1

,ID,Address,City,State,Country,Name,Employees,Cordinates
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"(21st Street, Castro District, SF, California,..."
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,None
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,"(Hill Street, Noe Valley, SF, California, 9411..."
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995, 23rd Street, Noe Valley, SF, California..."
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12,"(Sanchez Street, Noe Valley, SF, California, 9..."
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,"(Alvarado Street, Noe Valley, SF, California, ..."

In [76]:
#But the latitude and logitude values are hidden due to long string value of Location field rows

df1.Cordinates

0    (21st Street, Castro District, SF, California,...
1                                                 None
2    (Hill Street, Noe Valley, SF, California, 9411...
3    (3995, 23rd Street, Noe Valley, SF, California...
4    (Sanchez Street, Noe Valley, SF, California, 9...
5    (Alvarado Street, Noe Valley, SF, California, ...
Name: Cordinates, dtype: object

In [78]:
#We can see the complete value of Location of any one location object
df1.Cordinates[0]

Location(21st Street, Castro District, SF, California, 94114, United States of America, (37.7551671, -122.4402449, 0.0))

In [79]:
#To see Latitude and Longitude of any one location object in the row
print(df1.Cordinates[0].latitude, df1.Cordinates[0].longitude)

37.7551671 -122.4402449

In [87]:
CoL = type(df1.Cordinates[0])
CoS = type(df1.Cordinates)

print("Type of first object is %s" %CoL, "\nType of second object is %s"%CoS)

Type of first object is <class 'geopy.location.Location'>
Type of second object is <class 'pandas.core.series.Series'>

In [93]:
#Now we want to add two more columns Latitude and Longitude for each row
#We can't use df1["Latitude"]=df1["Cordinates"].Latitude as that will be series objects and latitude will not be applicable
#For series we need to use "apply" method
#As we are using Cordinates values here which is a Location object and we need to access latitude value from that object
#We use a special function lambda and supply temp variable x to store the vlaue of each Location
#Since the second value in df1 is None Type we use a if condition to avoid error as NoneType.latitude will throw error

df1["Latitude"] = df1["Cordinates"].apply(lambda x:x.latitude if x!=None else None)
df1["Longitude"]= df1["Cordinates"].apply(lambda x:x.longitude if x!=None else None)
df1

,ID,Address,City,State,Country,Name,Employees,Cordinates,Latitude,Longitude
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"(21st Street, Castro District, SF, California,...",37.755167,-122.440245
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,None,NaN,NaN
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,"(Hill Street, Noe Valley, SF, California, 9411...",37.755689,-122.427829
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995, 23rd Street, Noe Valley, SF, California...",37.752965,-122.431714
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12,"(Sanchez Street, Noe Valley, SF, California, 9...",37.748362,-122.429346
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,"(Alvarado Street, Noe Valley, SF, California, ...",37.753823,-122.432100